
body {
  text-align: center;
  /*background-image: url("one.jpg");
  background-size: cover;*/
  color: #000;
  font-family: Helvetica;
  background-image: url(../images/one.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}


hr{
  width: 200px;
}

h1 {
  font-family: georgia, serif;
    font-size: 40px;
  line-height: 1.5em;
  margin: 1em;
}

h2 {
  font-family: georgia, serif;
    font-size: 32px;
  line-height: 1.5em;
  margin: 1em;
}

p {
  font-family: verdana, Sans-Serif;
    font-size: 18px;
  line-height: 1.5em;
  margin: 1.5em;
}
strong {
  font-variant: small-caps;
}