
body {
  text-align: center;
  /*background-image: url("one.jpg");
  background-size: cover;*/
  color: #000;
  font-family: Helvetica;
  background-image: url(../images/one.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}


hr{
  width: 200px;
}

p{
 
  font-size: 22px;
}